# Archivo de variables de entorno para Docker Compose
# PostgreSQL
POSTGRES_USER=rickmorty_user
POSTGRES_PASSWORD=rickmorty_pass
POSTGRES_DB=rickmorty_db

# Gateway
GATEWAY_PORT=3001

# Microservicio
SERVICE_PORT=3002
